{{#partial "title" }}
    Your custom greeting
{{/partial}}


{{#partial "content"}}

    <h1>Staff Directory</h1>
    <h1>Hello From Afar</h1>
    <p>Dear {{ id }},</p>
    <p>Dear {{ staff }},</p>
    <p>Dear {{ division }},</p>
    <p>Dear {{ department }},</p>
    <p>Dear {{ section }},</p>
    <p>Dear {{ role }},</p>
    <p>Dear {{ responsibilities }},</p>




{{/partial}}

{{> layout.hbs}}