{{#partial "content"}}

   <hr>
    <div class="container">
        <h1>Success!</h1>

        The staff member(s) with the below details has been added.

        {{#if division}}
            {{#each division }}
                <p>{{division.department}}</p>
                <div id="updated_details">
                    <p>Name: {{ division.staff_name }},</p>
                    <p>Department: {{ division.department }},</p>
                    <p>Section: {{ division.section }},</p>
                    <p>Role: {{ division.role }},</p>
                    <p>Responsibilities: {{ division.responsibilities }},</p>
                </div>
            {{/each}}
        {{else}}
            <p>No departments added yet!</p>
        {{/if}}



        <a href="/"><button type="submit" class="btn btn-success">Go Back!</button></a>
    </div>
    <hr>
{{/partial}}

{{> layout.hbs}}